<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>StepUp</title>
    <link rel="stylesheet" href="/static/css/styles_main.css">
    <link rel="stylesheet" href="/static/library/bootstrap.min.css">
    <link rel="stylesheet" href="/static/library/bootstrap-grid.min.css">
</head>
<body>
<div class="all_project">
    <header>
        <div class="header_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">
                            <a href="/admin/dashboard">StepUp</a>
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-4">
                        <div class="menu">
                            <a class="menu_item" href="#" th:text="*{full_name}"> </a>
                            <a class="menu_item btn_1" href="/logout">Ելք</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>


    <main>

        <div class="container">
            <div class="main_section">
                <div class="row">
                    <div class="col-md-4">
                        <div class="section_1">
                            <div class="func_btn button-1"><p>Խմբերի և առարկաներ</p></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="section_2">
                            <div class="func_btn button-2"><p>Դասախոսների և ուսանողներ</p></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="section_2">
                            <div class="func_btn button-3"><p>Կառավարում</p></div>
                        </div>
                    </div>
                </div>
                <div class="section_1_text" id="a">
                    <br>
                    <br>
                    <h4>Խումբ՝ <span th:text="*{groupNumber}"> </span></h4>
                    <h4>Դասախոս՝ <span th:text="*{user}"> </span></h4>
                    <h5>Առարկաներ</h5>
                    <br>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Առարկա</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="subject: ${subjects}">
                            <td>
                                <span th:text="${subject.getSubjectInfo().subjectName}"></span>
                            </td>
                            <td><a th:href="@{'subjects/' + ${subject.getSubjectInfo().getId()}+'/remove'}">
                                <i class="fa fa-minus"></i>
                            </a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <div th:if="${eligibleSubjects.size()==0}">
                        Ավելացնելու ենթակա առարկաներ չկան
                    </div>
                    <form th:action="@{'subjects'}" method="post" th:object="${newManagerSubject}"
                          th:if="${eligibleSubjects.size()>0}">
                        <div class="form-group">
                            <select th:field="*{subjectId}">
                                <option th:each="subject : ${eligibleSubjects}" th:value="${subject.id}"
                                        th:text="${subject.subjectName}"
                                ></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Ավելացնել</button>
                        </div>
                    </form>

                </div>
                <div class="section_1_text" id="b">

                </div>

                <div class="section_1_text" id="c">

                </div>


            </div>
        </div>
    </main>


    <footer>
        <div class="footer">
            <p>© 2021 Բոլոր իրավունքները պաշտպանված են</p>
        </div>
    </footer>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/script.js"></script>
</html>