<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StepUp</title>
    <link rel="stylesheet" href="/static/css/styles_main.css">
    <link rel="stylesheet" href="/static/library/bootstrap.min.css">
    <link rel="stylesheet" href="/static/library/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="all_project">
    <header>
        <div class="header_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">
                            <a href="/">StepUp</a>
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-4">
                        <div class="menu">
                            <a class="menu_item" href="#" th:text="*{full_name}"> </a>
                            <a class="menu_item btn_1" href="/logout">Ելք</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>


    <main>
        <div class="container">
            <div class="main_section">
                <div class="row">
                    <div class="col-md-4">
                        <div class="section_1">
                            <div class="func_btn button-1"><p>Հանձնարարություններ </p></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="section_2">
                            <div class="func_btn button-2"><p>Ուսումնական նյութեր </p></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="section_3">
                            <div class="func_btn button-3"><p>Քննություններ </p></div>
                        </div>
                    </div>
                </div>

                <div class="section_1_text" id="a">

                </div>
                <div class="section_1_text" id="b">
                    <br>
                    <br>
                    <br>
                    <h4>Հասանելի առարկաներ</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Առարկա</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <span th:if="${subjects.size()==0}">
                                Ձեզ հասանելի առարկաներ չկան
                            </span>
                        </tr>
                        <tr th:each="availSubject:${subjects}">

                            <td>
                                    <span th:text="${availSubject.subjectName}">

                                    </span>
                            </td>
                            <td>
                                    <span>
                                         <a th:href="@{'/manager/dashboard/classMaterials/groups/'+${group.getId()}+'/subjects/'+${availSubject.getId()}}" >
                                            <i class="fa fa-external-link-square"></i>
                                         </a>
                                    </span>

                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>


            </div>
        </div>
    </main>


    <footer>
        <div class="footer">
            <p>© 2021 Բոլոր իրավունքները պաշտպանված են</p>
        </div>
    </footer>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/script.js"></script>
</html>