<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>StepUp</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/library/bootstrap.min.css">
    <link rel="stylesheet" href="../static/library/bootstrap-grid.min.css">
</head>
<body>
    <div class="all_project">
        <header>
            <div class="header_section">
              <div class="container">
                  <div class="row">
                      <div class="col-md-2">
                          <div class="logo">
                             <a href="#">StepUp</a>
                          </div> 
                      </div>  
                      <div class="col-md-6 offset-md-4">
                         <div class="menu">
                             <a  class="menu_item"  href="#">Գլխավոր</a>
                             <a  class="menu_item"  href="#func">Գործառույթներ</a>
                             <a  class="menu_item btn_1"  href="#reg">Գրանցվել</a>
                             <a  class="menu_item btn_1" href="#log">Մուտք</a>
                         </div>
                      </div>
                  </div>
                    
              </div>
            </div>
            
        </header>
        
            
        
        <main>
           <div class="container">
               <div class="row">
                   <div class="col-md-6 col-sm-12">
                      <div class="text">
                         <div class="p1">Կրթության կառավարման</div>
                         <div class="p2">ՔՈ նորարար</div>
                         <div class="p3">համակարգը...</div>
                      </div>
                   </div>
                   <div class="col-md-6 col-sm-12">
                      <div class="background"></div>
                   </div>
               </div>
               <div class="a" id="func"></div>

               <div class="functions" >
                   <div class="main_text" >
                       <p>Գործառույթներ</p>
                   </div>
                   <div class="services">
                       <div class="container">
                           <div class="row">
                           <div class="col-md-4">
                               <div class="service service_1">
                                   <div class="service_info">
                                        <i class="service_icon far fa-edit"></i>
                                       <div class="service_text">
                                         <h5>Հանձնարարություններ</h5>
                                         <p>Կայքի միջոցով դասախոսը կարող է
                                             իր խմբի ուսանողների տալ հանձնարարականներ․․․
                                         </p>  
                                      </div>
                                   </div>
                               </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service service_1">
                                    <div class="service_info">
                                         <i class="service_icon fas fa-tasks"></i>
                                        <div class="service_text">
                                          <h5>Քննությունների կազմակերպում</h5>
                                          <p>Այստեղ կարող եք կազմակերպել և անցկացնել քննությունները։
                                          </p>  
                                       </div>
                                    </div>
                                </div>
                             </div>
                             <div class="col-md-4">
                                <div class="service service_1">
                                    <div class="service_info">
                                         <i class="service_icon fas fa-book"></i>
                                        <div class="service_text">
                                          <h5>Ուսումնական նյութեր</h5>
                                          <p>Դասախոսները կարող են տեղադրել յուրաքանչյուր խմբի համար 
                                              նախատեսված ուսումնական նյութերը,գրքերը, դասախոսությունները։
                                          </p>  
                                       </div>
                                    </div>
                                </div>
                             </div>
                        </div>
                   </div>
               </div>
           </div>
           <div class="a" id="reg"></div>
           <div class="registration" >
               <div class="main_text reg_text">
                   <p>Գրանցվել, որպես․․․</p>
               </div>
               <div class="container">
                   <div class="row">
                       <div class="col-md-3 offset-md-2">
                           <a href="/manager/registration">
                             <div class="register_and_login">
                                 <i class="register_and_login_icon fas fa-chalkboard-teacher"></i>
                                 <div class="manager"><h5>Դասախոս</h5></div>
                             </div>
                            </a>
                       </div>
                       
                       <div class="col-md-3 offset-md-2">
                           <a href="/user/registration">
                             <div class="register_and_login">
                                 <i class="register_and_login_icon fas fa-user-graduate"></i>
                                 <div class="user"><h5>Ուսանող</h5></div>
                            </div>
                         </a>
                       </div>
                      
                   </div>
               </div>
           </div>
           <div class="a" id="log"></div>
           <div class="registration">
            <div class="main_text reg_text" >
                <p>Մուտք գործել, որպես․․․</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 offset-md-2">
                        <a href="/manager/login">
                          <div class="register_and_login">
                              <i class="register_and_login_icon fas fa-chalkboard-teacher"></i>
                              <div class="manager"><h5>Դասախոս</h5></div>
                          </div>
                         </a>
                    </div>
                    
                    <div class="col-md-3 offset-md-2">
                        <a href="/user/login">
                          <div class="register_and_login">
                              <i class="register_and_login_icon fas fa-user-graduate"></i>
                              <div class="user"><h5>Ուսանող</h5></div>
                         </div>
                      </a>
                    </div>
                   
                </div>
            </div>
        </div>
        </main>
        <footer>
            <div class="footer">
                <p>© 2021 Բոլոր իրավունքները պաշտպանված են</p>
            </div>
        </footer>
    </div>
    
</body>
</html>