<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User Registration</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>Նոր օգտատիրոջ գրանցում</h1>

            <form th:action="@{registration}" method="post" th:object="${userInfo}">
                <input type="hidden" id="token" class="form-control" th:field="*{token}" autofocus="autofocus" />

                <div class="form-group">
                    <label class="control-label" for="firstName"> Անուն </label>
                    <input id="firstName" class="form-control" th:field="*{firstName}"
                           autofocus="autofocus" disabled/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="lastName"> Ազգանուն </label> <input
                        id="lastName" class="form-control" th:field="*{lastName}" disabled
                        autofocus="autofocus" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName"> Հայրանուն </label> <input
                        id="middleName" class="form-control" th:field="*{middleName} " disabled
                        autofocus="autofocus" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName"> Գրանցում որպես </label> <input
                        id="role" class="form-control" th:field="*{role} " disabled
                        autofocus="autofocus" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="email"> Էլեկտրոնային փոստ </label> <input
                        id="email" class="form-control" th:field="*{email}" autofocus="autofocus" disabled />
                </div>
                <div class="form-group">
                    <label class="control-label" for="password"> Գաղտնաբառ </label> <input
                       type="password" id="password" class="form-control" th:field="*{password}" required autofocus="autofocus" />
                </div>




                <div class="form-group">
                    <button type="submit" class="btn btn-success">Գրանցել</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

