<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<table >
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Middle name</th>
        <th>Email</th>
        <th>isRegistered</th>
    </tr>
    </thead>
    <tbody th:each="manager1 : ${managers}">
    <tr><td th:text="${manager1.id}"></td>
        <td th:text="${manager1.firstName}"></td>
        <td th:text="${manager1.lastName}"></td>
        <td th:text="${manager1.middleName}"></td>
        <td th:text="${manager1.email}"></td>
        <td th:text="${manager1.registered}"></td></tr>


    </tbody>
</table>
</body>
</html>