<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<table >
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Middle name</th>
        <th>Email</th>
        <th>isRegistered</th>
    </tr>
    </thead>
<tbody th:each="user1 : ${users}">
<tr><td th:text="${user1.id}"></td>
    <td th:text="${user1.firstName}"></td>
    <td th:text="${user1.lastName}"></td>
    <td th:text="${user1.middleName}"></td>
    <td th:text="${user1.email}"></td>
    <td th:text="${user1.registered}"></td></tr>


</tbody>
</table>
</body>
</html>