<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StepUp</title>
    <link rel="stylesheet" href="/static/css/styles_main.css">
    <link rel="stylesheet" href="/static/library/bootstrap.min.css">
    <link rel="stylesheet" href="/static/library/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="all_project">
    <header>
        <div class="header_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">
                            <a href="#">StepUp</a>
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-4">
                        <div class="menu">
                            <a class="menu_item" href="#" th:text="*{full_name}"> </a>
                            <a class="menu_item btn_1" href="/logout">Ելք</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>


    <main>
        <div class="container">
            <div class="main_section">
                <div class="row">
                    <div class="col-md-4">
                        <div class="section_1">
                            <div class="func_btn button-1"><p>Հանձնարարություններ</p></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="section_2">
                            <div class="func_btn button-2"><p>Ուսումնական նյութեր </p></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="section_3">
                            <div class="func_btn button-3"><p>Քննություններ </p></div>
                        </div>
                    </div>
                </div>

                <div class="section_1_text" id="a">

                    <br>
                    <h6>Դեռևս չհանձնած ուսանողներ</h6>
                    <br>
                    <h5>Խումբ՝<span th:text="*{group.groupNumber}"></span></h5>
                    <h5>Առարկա՝<span th:text="*{subject.subjectName}"></span></h5>
                    <h5>Հանձնարարություն՝ <span th:text="${assignment.assignmentName}"></span></h5>
                    <br>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Անուն</th>
                            <th scope="col">Ազգանուն</th>
                            <th scope="col">Հայրանուն</th>
                            <th scope="col">Էլ․ փոստ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user:${users}">

                            <td>
                                    <span th:text="${user.firstName}">

                                    </span>
                            </td>
                            <td>
                                    <span th:text="${user.lastName}">

                                    </span>
                            </td>
                            <td>
                                    <span th:text="${user.middleName}">

                                    </span>
                            </td>
                            <td>
                                    <span th:text="${user.email}">

                                    </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                </div>


                <div class="section_1_text" id="b">


                </div>


            </div>
        </div>
    </main>


    <footer>
        <div class="footer">
            <p>© 2021 Բոլոր իրավունքները պաշտպանված են</p>
        </div>
    </footer>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/script.js"></script>
</html>