<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StepUp</title>
    <link rel="stylesheet" href="/static/css/styles_main.css">
    <link rel="stylesheet" href="/static/library/bootstrap.min.css">
    <link rel="stylesheet" href="/static/library/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="all_project">
    <header>
        <div class="header_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">
                            <a href="#">StepUp</a>
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-4">
                        <div class="menu">
                            <a class="menu_item" href="#" th:text="*{full_name}"> </a>
                            <a class="menu_item btn_1" href="/logout">Ելք</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>


    <main>
        <div class="container">
            <div class="main_section">
                <div class="row">
                    <div class="col-md-4">
                        <div class="section_1">
                            <div class="func_btn button-1"><p>Հանձնարարություններ</p></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="section_2">
                            <div class="func_btn button-2"><p>Ուսումնական նյութեր </p></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="section_3">
                            <div class="func_btn button-3"><p>Քննություններ </p></div>
                        </div>
                    </div>
                </div>

                <div class="section_1_text" id="a">
                    <div th:if="${param.wrongGrade}">
                        <div class="alert alert-danger">Գնահատականը սխալ է, փորձեք կրկին</div>
                    </div>
                    <br>
                    <br>
                    <h5>Խումբ՝ <span th:text="*{group.groupNumber}"></span></h5>
                    <h5>Առարկա՝ <span th:text="*{subject.subjectName}"></span></h5>
                    <br>
                    <h4>Ավելացված հանձնարարություններ</h4>
                    <div th:if="${assignments.size()==0}">
                        Ավելացված հանձնարարություններ չկան
                    </div>
                    <table class="table" th:if="${assignments.size()>0}">
                        <thead>
                        <tr>
                            <th scope="col">Հանձնարարության անվանում</th>
                            <th scope="col">Ավելացման ամսաթիվ</th>
                            <th scope="col">Վերջնաժամկետ</th>
                            <th scope="col">Նկարագրության ֆայլ</th>
                            <th scope="col">Չի հանձնել</th>
                            <th scope="col">Հանձնել է ժամանակին</th>
                            <th scope="col">Հանձնել է ուշացումով</th>
                            <th scope="col">Գնահատված</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                        </tr>
                        <tr th:each="assignmentDto:${assignments}">

                            <td>
                                    <span th:text="${assignmentDto.assignment.assignmentName}">

                                    </span>
                            </td>
                            <td>
                                    <span th:text="${assignmentDto.assignment.getAddedAtNormal()}">

                                    </span>
                            </td>
                            <td>
                                    <span th:text="${assignmentDto.assignment.getDeadlineNormal()}">

                                    </span>
                            </td>
                            <td>
                                <a th:href="@{'/manager/dashboard/assignments/'+${assignmentDto.assignment.id}+'/downloadDescriptionFile'}">
                                     <span th:text="${assignmentDto.assignment.descriptionFile.fileName}">
                                    </span>
                                </a>
                            </td>
                            <td>
                                    <span th:text="${assignmentDto.getCountOfNonTurnedInUsers()}" >

                                    </span>
                                <a th:href="@{'/manager/dashboard/assignments/'+${assignmentDto.assignment.id}+'/nonTurnedInUsers'}" th:if="${assignmentDto.getCountOfNonTurnedInUsers()>0}">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                            <td>
                                    <span th:text="${assignmentDto.getCountOfTurnedInAssignments()}" style="color: darkgreen;font-weight: bold">

                                    </span>
                                <a th:href="@{'/manager/dashboard/assignments/'+${assignmentDto.assignment.id}+'/turnedInUsers'}" th:if="${assignmentDto.getCountOfTurnedInAssignments()>0}">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                            <td>
                                    <span th:text="${assignmentDto.getCountOfLateTurnedInUsers()}" style="color: darkred;font-weight: bold">

                                    </span>
                                <a th:href="@{'/manager/dashboard/assignments/'+${assignmentDto.assignment.id}+'/lateTurnedInUsers'}" th:if="${assignmentDto.getCountOfLateTurnedInUsers()>0}">
                                    <i class="fa fa-eye"></i>
                                </a>

                            </td>
                            <td>
                                    <span th:text="${assignmentDto.getCountOfReturnedAssignments()}" style="font-weight: bold">

                                    </span>
                                <a th:href="@{'/manager/dashboard/assignments/'+${assignmentDto.assignment.id}+'/returned'}" th:if="${assignmentDto.getCountOfReturnedAssignments()>0}">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                            <td>
                                    <span>
                                         <a th:href="@{'/manager/dashboard/assignments/'+${assignmentDto.assignment.id}+'/remove'}">
                                           Հեռացնել
                                         </a>
                                    </span>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <h5>Նոր հանձնարարություն</h5>
                    <form th:action="@{'/manager/dashboard/assignments/groups/'+${group.getId()}+'/subjects/' +${subject.getId()}}"
                          method="post" th:object="${newAssignment}"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label" for="assignmentName">Հանձնարարության անվանում </label>
                            <input id="assignmentName" class="form-control" th:field="*{assignmentName}" required
                                   autofocus="autofocus"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="descriptionFile">Նկարագրության ֆայլ (միայն PDF)</label>
                            <input type="file" name="descriptionFile" id="descriptionFile" accept="application/pdf"
                                   required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="descriptionFile">Վերջնաժամկետ</label>
                            <input type="datetime-local" class="form-control" name="descriptionFile" id="deadline"
                                   th:field="*{deadline}" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="assignmentName">Առավելագույն գնահատական </label>
                            <input id="maxGrade" class="form-control" th:field="*{maxGrade}" required
                                   autofocus="autofocus"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Ավելացնել</button>
                        </div>
                    </form>
                </div>


                <div class="section_1_text" id="b">


                </div>


            </div>
        </div>
    </main>


    <footer>
        <div class="footer">
            <p>© 2021 Բոլոր իրավունքները պաշտպանված են</p>
        </div>
    </footer>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/script.js"></script>
</html>